@page
@model Robinator.Core.Areas.RobinatorAdmin.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Start";
}
<h1>Robinator Admin</h1>
<a asp-page="./Content/Index">Content Editor</a>
